* {
    box-sizing: border-box;
}

html {
    font-family: 'Source Serif Pro', serif;
}

input {
    font-size: 18px;
}

header,
.center {
    text-align: center;
}

form,
.contact-info {
    display: flex;
    flex-direction: column;
}

.inline {
    display: block;
}

button,
form,
textarea {
    width: 100%;
}

.website-name {
    text-transform: uppercase;
}

form {
    max-width: 768px;
    margin: 0 auto;
}
fieldset,
button {
    border: none;
}

button {
    border: none;
    padding: 0 2px;
    margin: 0 2px;
    font-family: 'Source Serif Pro', serif;
}

.font {
    font-weight: bold;
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {

    }